@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,700;1,700&display=swap");
* {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; }

header {
  background-color: mediumpurple;
  padding: 22px;
  position: sticky;
  top: 0;
  z-index: 10; }
  header nav {
    background-color: mediumpurple; }
    header nav div .navbar-brand {
      font-size: 30px;
      padding: 6px;
      font-family: "Raleway";
      font-style: italic;
      background-color: rgba(242, 242, 248, 0.603);
      border-radius: 10px; }
    header nav div div ul li .nav-link {
      font-size: 17px; }

/*INDEX*/
main .hero {
  background-image: url(../img/newin.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  main .hero a h1 {
    font-size: 70px;
    color: black;
    padding: 10px;
    border: 1px black solid;
    transition-duration: 1.5s; }
    main .hero a h1:hover {
      transform: scale(1.2); }

main .tienda {
  display: flex;
  justify-content: space-evenly;
  align-items: center; }
  main .tienda .conocenos {
    display: inline-block;
    width: 500px;
    margin: 30px 30px 0 30px; }
    main .tienda .conocenos img {
      display: block;
      height: 100%;
      width: 100%; }
    main .tienda .conocenos h2 {
      font-size: 30px; }
    main .tienda .conocenos p {
      font-size: 20px; }

main .productos-destacados {
  text-align: center; }
  main .productos-destacados h2 {
    background-color: black;
    color: white;
    font-family: sans-serif;
    font-size: 25px;
    font-style: italic;
    margin: 30px 0 30px 0; }
  main .productos-destacados .imagenes-pd {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap; }
    main .productos-destacados .imagenes-pd div {
      border: 2px black solid;
      margin: 10px 10px 50px 10px;
      height: 430px;
      transition-duration: 1s; }
      main .productos-destacados .imagenes-pd div:hover {
        transform: scale(1.1); }
      main .productos-destacados .imagenes-pd div img {
        width: 300px;
        height: 340px;
        object-fit: cover; }
      main .productos-destacados .imagenes-pd div h3 {
        font-size: 20px;
        margin: 10px; }
      main .productos-destacados .imagenes-pd div a {
        font-size: 18px;
        background-color: black;
        color: white;
        padding: 6px;
        border-radius: 8px;
        transition: 0.5s; }
        main .productos-destacados .imagenes-pd div a:hover {
          background-color: rgba(0, 0, 0, 0.692); }

/*PRODUCTOS*/
main .ropa {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center; }
  main .ropa div {
    margin: 20px;
    height: 420px;
    border: 2px black solid;
    transition: 1.2s; }
    main .ropa div:hover {
      transform: scale(1.05); }
    main .ropa div img {
      width: 300px;
      height: 330px;
      object-fit: cover; }
    main .ropa div h1 {
      font-size: 22px;
      margin: 10px; }
    main .ropa div a {
      padding: 5px;
      background-color: black;
      color: white;
      border-radius: 8px;
      font-size: 17px;
      margin: 10px;
      transition: 0.5s; }
      main .ropa div a:hover {
        background-color: rgba(0, 0, 0, 0.692); }

/*OFERTAS*/
main .ofertas {
  text-align: center;
  font-size: 45px;
  font-weight: 800;
  font-style: italic;
  font-family: Cambria;
  margin: 30px; }

main .grid-ofertas {
  width: 100%;
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  margin-bottom: 30px; }
  main .grid-ofertas .grid-item {
    position: relative; }
    main .grid-ofertas .grid-item h2 {
      position: absolute;
      top: 0;
      font-style: italic;
      width: 100%;
      font-size: 25px;
      color: white;
      padding: 5px;
      background-color: rgba(0, 0, 0, 0.692); }
    main .grid-ofertas .grid-item img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      box-shadow: 10px 10px 5px -3px rgba(0, 0, 0, 0.49);
      -webkit-box-shadow: 10px 10px 5px -3px rgba(0, 0, 0, 0.49);
      -moz-box-shadow: 10px 10px 5px -3px rgba(0, 0, 0, 0.49); }

main .mostrar-mas {
  display: block;
  text-align: center;
  border: 1px solid gray;
  font-size: 20px;
  color: black;
  margin-bottom: 30px;
  margin-top: 30px;
  padding: 7px; }

/*ACERCA DE*/
main .acerca-de {
  text-align: center;
  font-size: 30px;
  padding: 25px; }

main .info {
  margin: 30px; }
  main .info .info-titulo {
    font-size: 20px;
    margin: 15px 15px 15px 0; }
  main .info p {
    font-size: 17px; }

/*CONTACTO*/
main .consulta {
  margin: 30px;
  text-align: center; }
  main .consulta h1 {
    font-size: 22px; }
  main .consulta h2 {
    padding-top: 20px;
    padding-left: 10px;
    font-size: 20px; }
  main .consulta div {
    margin: 17px; }

footer {
  background-color: mediumpurple;
  padding: 20px;
  margin-top: auto; }
  footer .footer {
    display: flex;
    justify-content: space-between; }
    footer .footer .locales div h3 {
      font-size: 20px; }
    footer .footer .locales div ul li {
      font-size: 16px; }
    footer .footer .suscribirme {
      display: flex;
      justify-content: center;
      align-items: center; }
      footer .footer .suscribirme label {
        font-weight: 600;
        font-size: 17px;
        margin: 5px; }
      footer .footer .suscribirme a {
        margin: 5px;
        border: 1px solid black;
        border-radius: 5px;
        color: black;
        padding: 5px; }
        footer .footer .suscribirme a:hover {
          background-color: black;
          color: white; }
    footer .footer .redes-sociales {
      display: flex;
      justify-content: right;
      align-items: end; }
      footer .footer .redes-sociales a img {
        margin: 5px; }

@media screen and (max-width: 960PX) {
  main .tienda {
    flex-direction: column; }
  main .grid-ofertas {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto; }
    main .grid-ofertas .botas-marrones {
      display: none; } }

@media screen and (max-width: 760px) {
  header nav div .navbar-brand {
    font-size: 25px; }
  header nav div div ul li .nav-link {
    font-size: 15px; }
  main .hero {
    height: 300px; }
    main .hero a h1 {
      font-size: 60px; }
  main .tienda .conocenos h2 {
    font-size: 25px; }
  main .tienda .conocenos p {
    font-size: 15px; }
  main .ofertas {
    font-size: 35px; }
  main .grid-ofertas {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto; }
    main .grid-ofertas .grid-item h2 {
      font-size: 20px; }
    main .grid-ofertas .botas-bajitas {
      display: none; }
  footer .footer {
    flex-direction: column; }
    footer .footer .redes-sociales {
      margin: 10px; } }

@media screen and (max-width: 580px) {
  main .hero {
    height: 250px; }
    main .hero a h1 {
      font-size: 50px; }
  main .tienda .conocenos {
    margin: 20px; }
    main .tienda .conocenos h2 {
      font-size: 20px; }
    main .tienda .conocenos p {
      font-size: 13px; }
  main .productos-destacados h2 {
    font-size: 21px; }
  main .productos-destacados .imagenes-pd div h3 {
    font-size: 18px; }
  main .productos-destacados .imagenes-pd div a {
    font-size: 15px; }
  main .grid-ofertas {
    grid-template-columns: 1fr;
    grid-template-rows: auto; }
  main .ropa div h1 {
    font-size: 18px; }
  main .ropa div a {
    font-size: 15px; }
  main .acerca-de {
    font-size: 25px; }
  main .info .info-titulo {
    font-size: 17px; }
  main .info p {
    font-size: 14px; }
  main .consulta h1 {
    font-size: 18px; }
  main .consulta h2 {
    font-size: 16px; }
  main .consulta div label {
    font-size: 15px; }
  footer .footer .locales div h3 {
    font-size: 18px; }
  footer .footer .locales div ul li {
    font-size: 14px; }
  footer .footer .suscribirme label {
    font-size: 15px; }
  footer .footer .suscribirme a {
    font-size: 14px; } }
