@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,700;1,700&display=swap');

*{margin: 0}

a {text-decoration: none;}

/*HEADER*/ 

header {
    background-color:mediumpurple;
    padding: 20px;
    position: sticky;
    top: 0;
}

header h1 {
font-family: 'Raleway', sans-serif;
font-weight: 800;
font-style: italic;
font-size: 40px;
margin: 10px;
color: black;
background-color: rgba(242, 242, 248, 0.603);
display: inline-block;
padding: 4px;
border-radius: 20px;;
}

header nav ul li {
    display: inline-block;
    margin: 10px;
}

header nav ul li a {
    font-size: 20px;
    color: black;
}

/*MAIN*/

.hero {
    background-image: url(../img/newin.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero h2{
    font-size: 70px;
    color: black;
    padding: 10px;
    border: 1px black solid;
}

.tienda {margin-bottom: 70px;}

.tienda img {
    height: 350px;
}

.conocenos {
    display: inline-block;
    width: 500px;
    margin: 50px 50px 0 50px;
}
.conocenos h3 { 
    font-size: 30px;
}

.conocenos p {
    font-size: 20px;
}

.productos-destacados {text-align: center;}

.productos-destacados div {
    display: inline-block;
    border: 2px black solid;
    margin: 10px 10px 50px 10px;
    height: 430px;
}
.productos-destacados h4 {
    font-size: 20px;
    margin: 10px;
}

.productos-destacados a {
    font-size: 18px;
    background-color: black;
    color: white;
    padding: 6px;
    border-radius: 8px;
}

.productos-destacados img {
    width: 300px;
    height: 340px;
}

.productos-destacados h3 {
    background-color: black;
    color: white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    font-style: italic;
    margin: 30px 0 30px 0;
}

.productos {
    font-size: 40px;
    font-family:'Times New Roman', Times, serif;
    padding: 25px 25px 10px;
}

.ropa { text-align: center; }

.ropa h3 {
    font-size: 25px;
    font-family:'Times New Roman', Times, serif;
    padding: 5px;
    margin: 40px 0 40px 0;
    background-color: rgba(165, 86, 180, 0.404);
}

.ropa div{
    display: inline-block;
    margin: 15px;
    height: 410px;
    border: 2px black solid;
}

.ropa img {
    width: 300px;
    height: 320px;
}

.ropa h4 {
    font-size: 22px;
    margin: 10px;
}

 .ropa a{
    padding: 5px;
    background-color: black;
    color: white;
    border-radius: 8px;
    font-size: 17px;
    margin: 10px;
 }

 .ofertas {
    text-align: center;
    font-size: 45px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 20px;
}

.descuentos h3 {
    font-size: 35px;
    padding: 30px;
}

.descuentos h4 {
    font-size: 25px;
    color: white;
    background-color: black;
    padding: 4px;
}

.descuentos div {
    display: inline-block;
    margin: 5px 5px 40px 5px;
}
.descuentos img{ 
    height: 350px;
    width: 320px;
}

.acerca-de {
    text-align: center;
    font-size: 30px;
    padding: 25px;
}

.info {
    margin: 15px;
}

.info h3 {
    font-size: 20px;
}

.info p {
    font-size: 17px;
}

 .consulta h2 {
    padding: 10px;
}
.consulta div{
    margin: 17px;
}

/*FOOTER*/

footer { 
    background-color:mediumpurple;
    padding: 20px;
}

.locales {
    display: flex;
    justify-content: left;
    align-items: center;
}

.locales h5 {
    font-size: 20px;
}

.redes-sociales {
    display: flex;
    justify-content: right;
    align-items: end;
}

.redes-sociales img {
    margin: 5px;
}
