@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,700;1,700&display=swap');

*{margin: 0; padding: 0;}

a {text-decoration: none;}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/*HEADER*/

header {
    background-color:mediumpurple;
    padding: 22px;
    position: sticky;
    top: 0;
    z-index: 10;
}

header nav {
    background-color: mediumpurple;
}

.navbar-brand {
    font-size: 30px;
    padding: 6px;
    font-family: 'Raleway', sans-serif;
    font-style: italic;
    background-color: rgba(242, 242, 248, 0.603);
    border-radius: 10px;
}

.nav-link {
    font-size: 17px;
}

/*INDEX*/

.hero {
    background-image: url(../img/newin.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero h1{
    font-size: 70px;
    color: black;
    padding: 10px;
    border: 1px black solid;
}

.tienda {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.tienda img {
    height: 400px;
    width: 500px;
}

.conocenos {
    display: inline-block;
    width: 500px;
    margin: 50px 50px 0 50px;
    
}
.conocenos h2 { 
    font-size: 30px;
}

.conocenos p {
    font-size: 20px;
}

.productos-destacados {
    text-align: center;
}

.imagenes-pd {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.productos-destacados .imagenes-pd div{
    border: 2px black solid;
    margin: 10px 10px 50px 10px;
    height: 430px;
}
.productos-destacados h3 {
    font-size: 20px;
    margin: 10px;
}

.productos-destacados a {
    font-size: 18px;
    background-color: black;
    color: white;
    padding: 6px;
    border-radius: 8px;
}

.productos-destacados a:hover{
    background-color: rgba(0, 0, 0, 0.692);
}

.productos-destacados img {
    width: 300px;
    height: 340px;
    object-fit: cover;
}

.productos-destacados h2 {
    background-color: black;
    color: white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    font-style: italic;
    margin: 30px 0 30px 0;
}

/*PRODUCTOS*/

.ropa { 
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    text-align: center; 
}

.ropa div{
    margin: 20px;
    height: 420px;
    border: 2px black solid;

}

.ropa img {
    width: 300px;
    height: 330px;
    object-fit: cover;
}

.ropa h1 {
    font-size: 22px;
    margin: 10px;
}

 .ropa a{
    padding: 5px;
    background-color: black;
    color: white;
    border-radius: 8px;
    font-size: 17px;
    margin: 10px;
 }

 .ropa a:hover{
    background-color: rgba(0, 0, 0, 0.692);
}

/*OFERTAS*/

 .ofertas {
    text-align: center;
    font-size: 45px;
    font-weight: 800;
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 30px;
}

.grid-ofertas {
    width: 100%;;
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: repeat(4,1fr);
    gap: 15px;
    margin-bottom: 30px;
}

.grid-ofertas div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 10px 10px 5px -3px rgba(0,0,0,0.49);
    -webkit-box-shadow: 10px 10px 5px -3px rgba(0,0,0,0.49);
    -moz-box-shadow: 10px 10px 5px -3px rgba(0,0,0,0.49);
}

.grid-item {
    position: relative;
}

.grid-item h2 {
    position: absolute;
    top: 0;
    font-style: italic;
    width: 100%;
    font-size: 25px;
    color: white;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.692);
}

.mostrar-mas {
    display: block;
    text-align: center;
    border: 1px solid gray;
    font-size: 20px;
    color: black;
    margin-bottom: 30px;
    margin-top: 30px;
    padding:7px;
}

/*ACERCA DE*/

.acerca-de {
    text-align: center;
    font-size: 30px;
    padding: 25px;
}

.info {
    margin: 30px;
}

.info-titulo{
    font-size: 20px;
    margin: 15px 15px 15px 0;
}

.info p {
    font-size: 17px;
}

/*CONTACTO*/

.consulta {
    margin: 30px;
    text-align: center;
}

.consulta h1 {
    font-size: 22px;
}

.consulta h2 {
    padding-top: 20px;
    padding-left: 10px;
    font-size: 20px;
}
.consulta div{ 
    margin: 17px;
}

/*FOOTER*/

footer { 
    background-color:mediumpurple;
    padding: 20px;
    margin-top: auto;
}

.footer { 
    display: flex;
    justify-content: space-between;
}

.locales h3 {
    font-size: 20px;
}

.locales ul li {
    font-size: 16px;
}

.suscribirme {
    display: flex;
    justify-content: center;
    align-items: center;
}

.suscribirme label {
    font-weight: 600;
    font-size: 17px;
    margin: 5px;
}

.suscribirme a{
    margin: 5px;
    border: 1px solid black;
    border-radius: 5px;
    color: black;
    padding: 5px;
}

.suscribirme a:hover {
    background-color: black;
    color: white;
}

.redes-sociales {
    display: flex;
    justify-content: right;
    align-items: end;
}

.redes-sociales img {
    margin: 5px;
}

/*MEDIA QUERIES*/

@media screen and (max-width: 960PX){
    .tienda {
        flex-direction: column;
    }
    .grid-ofertas {
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: auto;
    }
    .botas-marrones {display: none;}
}

@media screen and (max-width: 760px){
    .tienda img {
        height: 350px;
        width: 450px;
    }
    .conocenos h2 {
        font-size: 25px;}
    .conocenos p {
        font-size: 15px;}
    .footer {
        flex-direction: column;
    }
    .redes-sociales {
        margin: 10px;
    }
    .hero{
        height: 300px;
    }
    .hero h1 {
        font-size: 60px;
    }
    .ofertas{
        font-size: 35px;
    }
    .grid-item h2{
        font-size: 20px;
    }
    .grid-ofertas {
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: auto;
    }
    .botas-bajitas{
        display: none;
    }
    .navbar-brand {
        font-size: 25px;
    }
    .nav-link {
        font-size: 15px;
    }
}

@media screen and (max-width: 580px){
    .hero {
        height: 250px;
    }
    .hero h1{
        font-size: 50px;
    }
    .tienda img{
        height: 300px;
        width: 400px;
    }
    .conocenos h2{
        font-size: 20px;
    }
    .conocenos p{
        font-size: 13px;
    }
    .productos-destacados h2 {
        font-size: 21px;
    }
    .productos-destacados a {
        font-size: 15px;
    }
    .productos-destacados h3{
        font-size: 18px;
    }
    .locales h3{
        font-size: 18px;
    }
    .locales ul li {
        font-size: 14px;
    }
    .suscribirme label {
        font-size: 15px;
    }
    .suscribirme a{
        font-size: 14px;
    }
    .grid-ofertas {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
}