footer{
    background-color:mediumpurple;
    padding: 20px;
    margin-top: auto;
    .footer{
        display: flex;
        justify-content: space-between;
        .locales{
            div{
                h3{
                    font-size: nth($font-size, 3);
                }
                ul{
                    li{
                        a{
                            font-size: nth($font-size, 4);
                            color: black;
                        }
                    }
                }
            }
        }
        .suscribirme{
            @include flex (flex, center, center);
            label{
                font-weight: 600;
                font-size: nth($font-size, 2);
                margin: 5px;
            }
            a{
                margin: 5px;
                border: 1px solid nth($colores, 2);
                border-radius: 5px;
                color: nth($colores, 2);
                padding: 5px;
                &:hover{
                    background-color: nth($colores, 2);
                    color: white;
                }
            }
        }
        .redes-sociales{
            @include flex (flex, right, end);
            a{
                img{
                    margin: 5px;
                }
            }
        }
    }
}

