
/*INDEX*/

main{
    .hero{
        background-image: url(../img/newin.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        height: 400px;
        @include flex (flex, center, center);
        flex-direction: column;
        a{
            h1{
                font-size: nth($font-size, 5);
                color: nth($colores, 2);
                padding: 10px;
                border: 1px nth($colores, 2) solid;
            }
        }
    }
    .tienda{
        @include flex (flex, space-evenly, center);
        img{
            height: 400px;
            width: 500px;
        }
        .conocenos{
            display: inline-block;
            width: 500px;
            margin: 50px 50px 0 50px;
            h2{
                font-size: nth($font-size, 1); 
            }
            p{
                font-size: nth($font-size, 3);
            }
        }
    }
    .productos-destacados{
        text-align: center;
        h2{
            background-color: nth($colores, 2);
            color: white;
            font-family: nth($font-family, 2);
            font-size: nth($font-size, 6);
            font-style: italic;
            margin: 30px 0 30px 0;
        }
        .imagenes-pd{
            @include flex (flex, space-evenly, center);
            flex-wrap: wrap;
            div{
                border: 2px nth($colores, 2) solid;
                margin: 10px 10px 50px 10px;
                height: 430px;
                img{
                    width: 300px;
                    height: 340px;
                    object-fit: cover;
                }
                h3{
                    font-size: nth($font-size, 3);
                    margin: 10px;
                }
                a{
                    font-size: nth($font-size, 7);
                    background-color: nth($colores, 2);
                    color: white;
                    padding: 6px;
                    border-radius: 8px;
                    &:hover{
                        background-color: nth($colores, 3);
                    }
                }
            }
        }
    }
}

/*PRODUCTOS*/

main{
    .ropa{
        @include flex (flex, space-evenly, center);
        flex-direction: row;
        flex-wrap: wrap;
        text-align: center; 
        div{
            margin: 20px;
            height: 420px;
            border: 2px nth($colores, 2) solid;
            img{
                width: 300px;
                height: 330px;
                object-fit: cover;
            }
            h1{
                font-size: nth($font-size, 8);
                margin: 10px;
            }
            a{
                padding: 5px;
                background-color: nth($colores, 2);
                color: white;
                border-radius: 8px;
                font-size: nth($font-size, 2);
                margin: 10px;
                &:hover{
                    background-color: nth($colores, 3);
                }
            }
        }
    }
}

/*OFERTAS*/

main{
    .ofertas{
        text-align: center;
        font-size: nth($font-size, 9);
        font-weight: 800;
        font-style: $font-style;
        font-family: nth($font-family, 3);
        margin: 30px;
    }
    .grid-ofertas{
        width: 100%;;
        display: grid;
        grid-auto-rows: auto;
        grid-template-columns: repeat(4,1fr);
        gap: 15px;
        margin-bottom: 30px;
        .grid-item{
            position: relative;
            h2{
                position: absolute;
                top: 0;
                font-style: $font-style;
                width: 100%;
                font-size: nth($font-size, 6);
                color: white;
                padding: 5px;
                background-color: nth($colores, 3); 
            }
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                box-shadow: 10px 10px 5px -3px rgba(0,0,0,0.49);
                -webkit-box-shadow: 10px 10px 5px -3px rgba(0,0,0,0.49);
                -moz-box-shadow: 10px 10px 5px -3px rgba(0,0,0,0.49);
            }
        }
    }
    .mostrar-mas{
        display: block;
        text-align: center;
        border: 1px solid gray;
        font-size: nth($font-size, 3);
        color: black;
        margin-bottom: 30px;
        margin-top: 30px;
        padding:7px;
    }
}

/*ACERCA DE*/

main{
    .acerca-de{
        text-align: center;
        font-size: nth($font-size, 1);
        padding: 25px;
    }
    .info{
        margin: 30px;
        .info-titulo{
            font-size: nth($font-size, 3);
            margin: 15px 15px 15px 0;
        }
        p{
            font-size: nth($font-size, 2);
        }
    }
}

/*CONTACTO*/

main{
    .consulta{
        margin: 30px;
        text-align: center;
        h1{
            font-size: 22px;
        }
        h2{
            padding-top: 20px;
            padding-left: 10px;
            font-size: nth($font-size, 3);
        }
        div{
            margin: 17px;
        }
    }
}

